body{
    background-color: #1f1f1f;
}
p {
    padding: 20px;
    margin: 10%;
    background-color: white;
}
img {
    display: block;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: white;

}
h1 {
    text-align: center;
    color: gold;
}